{% extends "base.html" %}
{% block content %}
        <div class="container">
    <div class="container-items form_style">
        <div class="container">

            <div class="row custblog_row">
                <div class="boxblog-reg">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td><img height="100" width="100" src="/media/{{ item.image }}"></td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>



                    </table>
<br>
                                                                        <form>
                        <input type="file" class="autosubmit"/>
                    </form><br>
                    <form action={% url 'upload_pic' %} method="post" enctype="multipart/form-data">{% csrf_token %}
                        <input type="submit" value="Save Items"/>
                </div>


            </div>

                    </form>
        </div>


    </div>

    </div>
{% endblock %}