<{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}

    <div class="container-items form_style">
        <div class="container">

            <div class="row custblog_row">
                <div class="boxblog-reg">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>


                        {% for outfitItem in outfitItems %}
                            <tr>

{#                                {% if post.image %}#}
                                <td> <img src="{{ MEDIA_URL }}{{ outfitItem.image }}" style="width:270px; height:200px"></td>
{#                                {% endif %}#}
                                <td>{{ outfitItem.name }}</td>
                                <td>{{ outfitItem.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
{% endblock %}