{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="container-items form_style">
            <div class="container">

                <div class="row custblog_row">
                    <div class="boxblog-reg">


                        <h1>{% if request.user.is_authenticated %}Welcome '{{ request.user.username }} '
                        {% else %}
                            <a href="{% url 'login' %}">Please login by following this link</a>
                        {% endif %}</h1>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Item</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for item in items %}
                                <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td><img height="100" width="100" src="{{ MEDIA_URL }}{{ item.image }}"></td>
                            {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                        <form>
                            <input type="file" class="autosubmit"/>
                        </form>
                        <form action={% url 'upload_pic' %} method="post" enctype="multipart/form-data">{% csrf_token %}
                            <input type="submit" value="Save Items"/>
                        </form>
                    </div>
                    <p>
                        <button class="btn btn-danger" onclick="location.href='/outfits'">See Styles
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}